<h1><%= @restaurant.name %></h1>
<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>

<h2>Reviews</h2>
<ul>
  <% @restaurant.review.each do |review| %>
    <li>
      <strong>Rating:</strong> <%= review.rating %>/5 <br>
      <%= review.content %>
    </li>
  <% end %>
</ul>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Back to Restaurants", restaurants_path(@restaurant)  %>
