<h1>New Review for <%= @restaurant.name %></h1>

<%= form_with(model: [@restaurant, @review], local: true) do |form| %>
  <%= form.label :rating %>
  <%= form.number_field :rating, in: 0..5 %>

  <%= form.label :content %>
  <%= form.text_area :content %>

  <%= form.submit "Submit Review" %>
<% end %>
